
body {
	min-height: 2000px;
	padding-top: 70px;
}
      
#navbar > ul > li > a {
	color: #FFB300 !important;
}

#navbar > ul > li > ul > li > a{
	color: #FFB300 !important;
}

.navbar-brand{
	color: #FFB300 !important;
}

.intro {
	background-image: url("../pics/ucla_banner.jpg");
	display: block;
	background-size:contain;
	background-position:center top;
	height:1200px;width:1200px;
}